.App {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #f4f4f4;
  align-items: center;
  min-height: 100vh;
}

p {
  text-align: center;
}

button {
  background-color: white;
  border-radius: 10px;
  height: 40px;
  width: 120px;
  cursor: pointer;
}